#chatApp{
  bottom: 0;
  position: fixed;
  right: 3rem;
  z-index: 300;
}

#chatWindow{
  min-height: 320px;
  width:290px;
  transform: translateY(0%);
	opacity: 1;
	transition: opacity 0.4s ease-out 0.3s, transform 0.5s linear;
  border: .1em solid #000;
  border-bottom: none;
  border-radius: 2% 2% 0 0;
  background: #fff;
}
#chatLauncher{
  bottom: 1rem;
  right: 1rem;
  background: #427fe1;
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: .2rem solid #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.2);
  position: absolute;
  text-align: center;
  transform: translateY(0%);
  opacity: 1;
  transition: opacity 0.4s ease-out 0.3s, transform 0.5s linear;
}
#chatWindow.hide,#chatLauncher.hide{
	transform: translateY(200%);
	opacity: 0;
  transition: opacity .2s ease-out, transform 1s linear;
}
.chatHeader{
  color:#fff;
  background-color: #555;
  font-weight: bold;
  text-align: center;
  height: 28px;
}
.chatHeader .title{
  float:left;
  width: 100%;
}
.chatHeader .closeButton{
  position: absolute;
  top:2px;
  right:4px;
  width:1.5em;
  background  : none;
  border: none;
}

.chatFooter{
  height: 42px;
  width: 100%;
  position: relative;
  bottom: 4px;
  text-align: center;
}

.chatFooter textarea{
  width:210px;
  font-family: 'tahoma';
  font-size: 13px;
  padding: 5px;
  resize: none;
  height: 32px;
}
.joinChat{
  padding:10px 5px;
}
.sendButton{
  width:60px;
  bottom: 14px;
  position: relative;
}
.messages{
  overflow-y:auto;
  height: 244px;
}
.message-so-far{
  color:#666;
}
.chatmessage{
  white-space: pre-line;
}
